h1 {
            color: darkblue;
}


 h2 {
            text-align: center;
            color: crimson;
}


 p {
            font-size: 16px;
}


.bold-text {
            font-weight: bold;
}

.big-text {
            font-size: 20px;
}