h1 {
font-size: 32px;
margin-bottom: 20px;
}

.container {
font-size: 16px;
border: 2px solid black;
width: 80%;
padding: 1em;
margin: 10px auto;
}

.inner {
font-size: 1.5em;
background-color: #f2f2f2;
padding: 1em;
}

html {
font-size: 14px;
}

.rem-example {
font-size: 2rem;
color: #333;
}

.percent-box {
width: 50%;
background-color: lightblue;
padding: 10px;
text-align: center;
}